<h3>Listado de Heroes</h3>

<div *ngIf="heroesName; else containerDeleted">
  <h3>Heroe Eliminado <small class="text-warning">{{removeHeroeName}}</small></h3>
</div>
<ng-template #containerDeleted>
  <h3>No hay item para eliminar !!!</h3>
</ng-template>

<button class="btn btn-outline-warning" (click)="removeHeroe()" *ngIf="heroesName.length>0">
  Remove Item
</button>

<ul class="mt-2 list-group">
  <li class="list-group-item" *ngFor="let heroe of heroesName">
    <strong>{{heroe}}</strong>
  </li>
</ul>
