<h4>Listado Personajes</h4>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center"
    *ngFor="let dbz of characterList; index as i; let isFirst = first; let isLast = last"
    [ngClass]="{'list-group-item-danger': dbz.power > 2500}">

    <div>
      <span>{{i + 1}}: </span>
      <span>{{dbz.name}} - </span>
      <strong>Power </strong>
      <span>{{dbz.power}}</span>
    </div>
    <button class="btn btn-warning" (click)="onDeleteCharacter(dbz.id)">
      X
    </button>

  </li>
</ul>
